.ohioathome-header {
  margin-top: 2em;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.ohioathome-subheader {
  margin: 0;
  text-align: center;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

.ohioathome-fade-in {
  animation: ohioathome-fadeIn ease 1s;
}
@keyframes ohioathome-fadeIn {
  0% {
    opacity:0;
    transform: translateY(-40px);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

.ohioathome-hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 3px solid #DEE9F5;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
}

.ohioathome-spacer {
  margin-bottom: 3em;
}

.ohioathome-research-container, .ohioathome-ideation-container, .ohioathome-prototype-container, .ohioathome-testing-container {
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.ohioathome-persona-container {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.ohioathome-cover-img, .ohioathome-work-flow-img, .ohioathome-research-cover-img, .ohioathome-user-stories-img,
.ohioathome-wireframe-img, .ohioathome-prototype-img, .ohioathome-testing-img {
  display: block;
  margin: 3em auto;
  width: 80%;
}

.ohioathome-persona-1-img, .ohioathome-persona-2-img {
  display: block;
  width: 75%;
  margin: 3em auto;
}

.ohioathome-overview-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 3em;
  padding-left: 20%;
  padding-right: 20%;
}

.ohioathome-overview-flex-item {
  position: relative;
  width: 45%;
}

@media only screen and (max-width: 1024px) {
  .ohioathome-header {
    margin-top: 1em;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
  }
  .ohioathome-subheader {
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
  }
  .ohioathome-research-container, .ohioathome-ideation-container, .ohioathome-prototype-container, .ohioathome-testing-container {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .ohioathome-overview-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 3em;
    padding-left: 10%;
    padding-right: 10%;
  }
  .ohioathome-cover-img {
    display: block;
    margin: 3em auto;
    width: 100%;
  }
  .ohioathome-persona-1-img, .ohioathome-persona-2-img {
    display: block;
    width: 90%;
    margin: 3em auto;
  }

  @media only screen and (max-width: 768px) {
    .ohioathome-header {
      margin-top: 0.5em;
      text-align: center;
      font-size: 38px;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
    }
    .ohioathome-subheader {
      margin: 0;
      text-align: center;
      font-size: 17px;
      font-family: 'Open Sans', sans-serif;
    }
    .ohioathome-cover-img, .ohioathome-work-flow-img, .ohioathome-research-cover-img, .ohioathome-user-stories-img,
    .ohioathome-wireframe-img, .ohioathome-prototype-img, .ohioathome-testing-img {
      display: block;
      margin: 3em auto;
      width: 100%;
    }
    .ohioathome-overview-flex-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-top: 2em;
      padding-left: 10%;
      padding-right: 10%;
    }
    .ohioathome-persona-1-img, .ohioathome-persona-2-img {
      display: block;
      width: 100%;
      margin: 3em auto;
    }
    .ohioathome-persona-container {
      padding-left: 0;
      padding-right: 0;
      margin-top: 3em;
      margin-bottom: 3em;
    }
  }
}
