.about-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 5em;
  margin-bottom: 5em;
  padding-left: 15%;
  padding-right: 15%;
}

.about-flex-item {
  position: relative;
  width: 45%;
}

.about-header {
  font-size: 48px;
  font-weight: bold;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1.5em;
}

.pink {
  color: #E89E9F;
  background: none;
}

@media only screen and (max-width: 1024px) {
  .about-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 5em;
    margin-bottom: 5em;
    padding-left: 10%;
    padding-right: 10%;
  }

  .about-header {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1.5em;
  }
}

@media only screen and (max-width: 768px) {
  .about-flex-item {
    position: relative;
    width: 100%;
    margin-bottom: 3em;
  }

  .about-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 2em;
    padding-left: 10%;
    padding-right: 10%;
  }
}