.logo-img {
    width: 100%;
    height: 10em;
}

.intro-container {
    width: 60%;
    margin: auto;
    padding-top: 10em;
    padding-bottom: 15em;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 5em;
}

.flex-item {
    position: relative;
    width: 47.5%;
}

img {
   width: 100%;
   height: 100%;
}

.proj3 {
    position: relative;
    height: 100%;
    margin-bottom: 5em;
}

.proj1-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #74D3BD;
}

.proj2-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #6A95A0;
}

.proj3-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 99.5%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #5990CC;
}

.proj1:hover .overlay {
    opacity: 1;
}

.proj2:hover .overlay {
    opacity: 1;
}

.proj3:hover .overlay {
    opacity: 1;
}

.proj1-text {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.proj2-text {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.proj3-text {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

span {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 200;
}

strong {
    color: #E89E9F;
}

@media only screen and (max-width: 768px) {
    span {
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: 200;
    }
    .intro-container {
        width: 80%;
        margin: auto;
        padding-top: 3em;
        padding-bottom: 8em;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .intro-container {
        width: 90%;
        margin: auto;
        padding-top: 3em;
        padding-bottom: 3em;
        text-align: center;
    }
    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 3em;
    }
    .flex-item {
        width: 100%;
        margin-top: 3em;
    }
    .proj3 {
        position: relative;
        height: 100%;
        margin-bottom: 2em;
    }
}