#nav {
    width: 100%;
    height: 5em;
    padding: 0;
    list-style: none;
}

#nav li {
    float: right;
}

#nav li {
    display: block;
    padding: 1em 1.5em;
    font-size: 20px;
    text-decoration: none;
    color: darkgrey;
    font-family: 'Open Sans', sans-serif;
}

#nav li {
    display: block;
    padding: 1em 1.5em;
    font-size: 20px;
    text-decoration: none;
    color: darkgrey;
    font-family: 'Open Sans', sans-serif;
}

#nav li a {
    text-decoration: none;
}

#nav li:hover {
    color: #E89E9F;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #nav li:first-child {
        margin-right: 3.6em;
    }
    #nav li a {
        display: block;
        padding: 1em 1.5em;
        font-size: 15px;
        text-decoration: none;
        color: darkgrey;
        font-family: 'Open Sans', sans-serif;
    }
}