.streamlabs-header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.streamlabs-hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 3px solid #dff0ec;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
}

.streamlabs-spacer {
    height: 3em;
}

.streamlabs-spacer-light {
    height: 1.5em;
}

.streamlabs-note {
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color: #C4C4C4;
}

.streamlabs-fade-in {
    animation: streamlabs-fadeIn ease 1s;
}
@keyframes streamlabs-fadeIn {
    0% {
        opacity:0;
        transform: translateY(-40px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

.streamlabs-overview-container, .streamlabs-research-container, .streamlabs-ideation-container, .streamlabs-prototype-container, .streamlabs-reflection-container {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.streamlabs-work-flow-img, .streamlabs-alert-box-img {
    display: block;
    margin: 3em auto;
    width: 100%;
}

.streamlabs-ideation-skeche-img, .streamlabs-prototype-cover-img {
    display: block;
    margin-top: 2em;
    width: 100%;
}

.streamlabs-observation-img {
    left: 50%;
    margin-left: -24.5vw;
    max-width: 51.5vw;
    position: relative;
    right: 50%;
    width: 51.5vw;
}

.streanlabs-cover-img {
    display: block;
    margin: 1em auto;
    width: 80%;
}

@media only screen and (max-width: 1024px) {
    .streamlabs-header {
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        font-size: 48px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
    .streanlabs-cover-img {
        display: block;
        margin: 1em auto;
        width: 100%;
    }
    .streamlabs-overview-container, .streamlabs-research-container, .streamlabs-ideation-container, .streamlabs-prototype-container, .streamlabs-reflection-container {
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .streamlabs-alert-box-img, .streamlabs-ideation-skeche-img {
        display: block;
        margin: 2em auto;
        width: 80%;
    }
    .streamlabs-spacer {
        height: 1.5em;
    }
    .streamlabs-spacer-light {
        height: 0.75em;
    }
    .streamlabs-observation-img {
        left: 0;
        margin: 0;
        max-width: 100%;
        position: center;
        right: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .streamlabs-header {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        text-align: center;
        font-size: 38px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
    .streamlabs-research-flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 1.5em;
        padding-left: 5%;
        padding-right: 5%;
    }
    .streamlabs-work-flow-img, .streamlabs-alert-box-img, .streamlabs-ideation-skeche-img, .streamlabs-wireframe-img-vertical, .streamlabs-prototype-cover-img {
        display: block;
        margin: 2em auto;
        width: 100%;
    }
    .streamlabs-overview-container, .streamlabs-research-container, .streamlabs-ideation-container, .streamlabs-prototype-container {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .streamlabs-analysis {
        height: 12.5em;
    }
    .streamlabs-analysis:last-child {
        height: 8em;
    }
}