.header {
    margin-top: 2em;
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

h1, h3, p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 3px solid #DFF0EC;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
}

.streamlabs-spacer {
    height: 3em;
}

.fade-in {
    animation: fadeIn ease 1s;
}
@keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(-40px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

.streamlabs-overview-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 3em;
    padding-left: 20%;
    padding-right: 20%;
}

.streamlabs-research-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 3em;
    padding-left: 10%;
    padding-right: 10%;
}

.streamlabs-overview-flex-item, .streamlabs-research-flex-item {
    position: relative;
    width: 45%;
}

.streamlabs-research-container, .streamlabs-ideation-container, .streamlabs-prototype-container {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.work-flow-img, .observation-img, .alert-box-img, .ideation-skeche-img {
    display: block;
    margin: 3em auto;
    width: 80%;
}

.streanlabs-cover-img {
    display: block;
    margin: 1em auto;
    width: 80%;
}

.wireframe-img {
    display: block;
    margin: 3em auto;
    width: 90%;
}

.analysis {
    height: 6em;
}

.goals-container {
    margin-top: 3em;
}

.goals {
    margin-top: 0.5em;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {
    .header {
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        font-size: 48px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
    .streanlabs-cover-img {
        display: block;
        margin: 1em auto;
        width: 100%;
    }
    .streamlabs-overview-flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 3em;
        padding-left: 10%;
        padding-right: 10%;
    }
    .streamlabs-research-container, .streamlabs-ideation-container, .streamlabs-prototype-container {
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .observation-img, .alert-box-img, .ideation-skeche-img {
        display: block;
        margin: 2em auto;
        width: 80%;
    }
    .streamlabs-research-flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 1.5em;
        padding-left: 5%;
        padding-right: 5%;
    }
    .goals-container {
        margin-top: 1.5em;
    }
    .streamlabs-spacer {
        height: 1.5em;
    }
    .analysis {
        height: 7em;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        text-align: center;
        font-size: 38px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
    .streamlabs-overview-flex-container, .streamlabs-research-flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 1.5em;
        padding-left: 5%;
        padding-right: 5%;
    }
    .work-flow-img, .observation-img, .alert-box-img, .ideation-skeche-img, .wireframe-img-vertical {
        display: block;
        margin: 2em auto;
        width: 100%;
    }
    .streamlabs-research-container, .streamlabs-ideation-container, .streamlabs-prototype-container {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .analysis {
        height: 12.5em;
    }
    .analysis:last-child {
        height: 8em;
    }
}