.App {
    padding-left: 25%;
    padding-right: 25%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-weight: 700;
}

p, li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0.25em;
}

@media only screen and (max-width: 1024px) {
    .App {
        padding-left: 15%;
        padding-right: 15%;
        min-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .App {
        padding-left: 5%;
        padding-right: 5%;
        min-width: 100%;
    }
}
